<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:mybatis="http://www.mybatis.org/schema/mybatis"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
     http://www.springframework.org/schema/beans/spring-beans.xsd    
     http://www.springframework.org/schema/context    
     http://www.springframework.org/schema/context/spring-context.xsd    
	 http://www.springframework.org/schema/tx 
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop   
     http://www.springframework.org/schema/aop/spring-aop.xsd"> 
		
		
	
		<bean id= "dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
			<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
			<property name="url" value="jdbc:mysql://127.0.0.1:3306/sakila"/>
			<property name="username" value="root"/>
			<property name="password" value="root"/>
		</bean>	
<!-- 配置sqlSessionFactory -->
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
			<property name="dataSource" ref="dataSource"/>
			<property name="mapperLocations" value="classpath:com/mao/hand/Beans/*.xml"/>
		</bean>
		
		<bean id="log" class="com.mao.hand.Cut.Log"/>
<!-- 		<aop:aspectj-autoproxy/> -->
		<aop:config proxy-target-class="true">
			<aop:aspect ref="log"> 
				<aop:pointcut expression="execution(* com.mao.hand.ServiceImpl.CustomerServiceImpl.SelectLastInsert(..))" id="pointcut"/>
				<aop:before method="Before" pointcut-ref="pointcut"/>
				<aop:after method="After" pointcut-ref="pointcut"/>
			</aop:aspect>
		</aop:config>
		
		<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<property name="dataSource" ref="dataSource"></property>
		</bean>	
		<tx:advice id="txAdvice" transaction-manager="txManager">
			<tx:attributes>
				<tx:method name="add" propagation="REQUIRED"/>
				<tx:method name="insert" propagation="REQUIRED"/>
				<tx:method name="remove" propagation="REQUIRED"/>
				<tx:method name="delete" propagation="REQUIRED"/>
				<tx:method name="update" propagation="REQUIRED"/>
			</tx:attributes>
		</tx:advice>
		
		<aop:config>	
		<aop:pointcut expression="execution(* com.mao.hand.DaoImpl.*.*(..))" id="txpointcut"/>
			<aop:advisor advice-ref="txAdvice" pointcut-ref="txpointcut"/>
		</aop:config>

			
		<bean id="Address" class="com.mao.hand.Beans.Address"/>
		<bean id="City" class="com.mao.hand.Beans.City"/>
		<bean id="Country" class="com.mao.hand.Beans.Country"/>	
		<bean id="Customer" class="com.mao.hand.Beans.Customer"/>	
		<bean id="Store" class="com.mao.hand.Beans.Store"/>		
		<bean id="Payment" class="com.mao.hand.Beans.Payment"/>	
		<bean id="Rental" class="com.mao.hand.Beans.Rental"/>			
		<bean id="AddressDao" class="com.mao.hand.DaoImpl.AddressDaoImpl">
			<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
		</bean>
		<bean id="CustomerDao" class="com.mao.hand.DaoImpl.CustomerDaoImpl">
			<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
		</bean>
		<bean id="addrsessService" class="com.mao.hand.ServiceImpl.AddressServiceImpl">
			<property name="addressDaoImpl" ref="AddressDao"/>
		</bean>
		<bean id="customerService" class="com.mao.hand.ServiceImpl.CustomerServiceImpl">
			<property name="customerDaoImpl" ref="CustomerDao"></property>
		</bean>
		
		
		

</beans>