<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.mao.hand.Beans.Address"> 
		
  	<!-- 通过<select>标签写查询语句，如果返回多个结果，就使用resultMap,返回一个结果，就使用resultType -->
  	<select id ="findAllAddress" resultType ="com.mao.hand.Beans.Address">
  		select * from address
  	</select>
</mapper>